.homepage-container {
  width: 80%;
}

h1 {
  color: #2c3e50;
  text-align: center;
}

h2 {
  color: #2c3e50;
  text-align: left;
}

.form-container,
.list-container {
  margin-bottom: 20px;
}

.button {
  background-color: #724184;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #a629b9;
}
.button-delete {
  background-color: #b434db;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-delete:hover {
  background-color: #db34cd;
}

/* Common class for all input fields and selects */
.input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #d834db;
}

/* Labels for better readability */
label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.table-container {
  margin: 20px;
  overflow-x: auto; /* Enables horizontal scrolling if the table is too wide */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd; /* Light grey border for cells */
  text-align: left;
}

.table th {
  background-color: #724184; /* Darker blue header background */
  color: white;
  font-size: 16px;
}

.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2; /* Zebra striping for rows, light grey */
}

.table tbody tr:hover {
  background-color: #e8f4f8; /* Light blue hover effect for rows */
}

/* .alert {
  background-color: #6ac311;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
} */

/* Expenses info section */
.expenses-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.current-expenses,
.monthly-limit,
.alert {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}
.current-expenses {
  background-color: #e3f2fd;
  color: #11a7e2;
}
.monthly-limit {
  background-color: #fce4ec;
  color: #20ab23;
}
.alert {
  background-color: #c23b3b;
  color: #ffffff;
  font-weight: bold;
}
